<h1>Listing competitions</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @competitions.each do |competition| %>
  <tr>
    <td><%= competition.name %></td>
    <td><%= link_to 'Show', competition %></td>
    <% if can? :update, competition %>
      <td><%= link_to 'Edit', edit_competition_path(competition) %></td>
    <% end %>
    <% if can? :destroy, competition %>
      <td><%= link_to 'Destroy', competition, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Competition', new_competition_path %>
