<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @invitation.user %>
</p>

<p>
  <b>Invitee:</b>
  <%= @invitation.invitee %>
</p>


<%= link_to 'Edit', edit_invitation_path(@invitation) %> |
<%= link_to 'Back', invitations_path %>
