= form_for(@match) do |f|
  - if @match.errors.any?
    #error_explanation
      %h2
        = pluralize(@match.errors.count, "error")
        prohibited this match from being saved:
      %ul
        - @match.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :date
    %br/
    = f.date_select :date
  .field
    = f.collection_select :competition_id, Competition.all, :id, :name, :prompt => true
  = f.fields_for :contenders do |player_form|
    .field
      = player_form.collection_select :user_id, User.all, :id, :email, :prompt => true
      = player_form.number_field :set1
      = player_form.number_field :set2
      = player_form.number_field :set3
  .actions
    = f.submit
